h1{
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h2{
    text-align: center;
    margin: 5px;
    padding: 5px;
}
#resultado{
    font-size: 14px;
}
#forms{
    position: relative;
    text-align: center;
}
#cont{
    position: relative;
    text-align: center;
}
/* #anos{
    margin: 5px;
} */

/*Preloader inicio*/
#preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c0cbd8;
    z-index: 999;
}
#preloader .inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bolas > div{
    display: inline-block;
    background-color: #fff;
    background-color: #fff;
    width: 25px;
    border-radius: 100%;
    margin: 3px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: animarBola;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.bolas > div:nth-child(1){
    animation-duration: 0.75s;
    animation-delay: 0;
}
.bolas > div:nth-child(2){
    animation-duration: 0.75s;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3){
    animation-duration: 0.75s;
    animation-delay: 0.24s;
}
@keyframes animarBola{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    16%{
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }
    33%{
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
/*Preloader final*/