h1{
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h2{
    text-align: center;
    margin: 5px;
    padding: 5px;
}
#resultado{
    font-size: 14px;
}
#forms{
    position: relative;
    text-align: center;
}
#cont{
    position: relative;
    text-align: center;
}
/* #anos{
    margin: 5px;
} */

.spinner-wrapper{
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;

}
.spinner-border{
    height: 60px;
    width: 60px;
}
/*Preloader final*/

.media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.colaboracao{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.colaboracao img{
    max-width: 1024px;
    max-height: 768px;
    width: auto;
    height: auto;
}