{% extends 'base.html' %}
{%block content%}


<h1 hidden>{%block title%}AnyLattes - Início {%endblock%}</h1>

<h1 style="text-align: center;">Currículos Lattes</h1>
<!-- <div class="spinner-wrapper">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div> -->
<div class="col-md-8">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{url_for('index')}}">Dashboard</a></li>
        <li class="breadcrumb-item active">Home</li>
    </ol>
</div>

<form action="{{ url_for('upload') }}" method="post" id="forms" enctype="multipart/form-data" class="form-inline">

    <div class="card mb-4">
        <div class="row">
            <div class="col">
                <div class="card-header">
                    <i class="fas fa-upload me-1"></i>
                    Importar currículos no formato XML
                </div>
                <div class="card-body">
                    <br>
                    <input class="form-control" type="file" name="files[]" id="file" multiple required>
                </div>
            </div>
            <div class="col">

                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Período
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group">
                            <label for="anos" class="form-label">
                                De:
                                <input type="number" class="form-control" name="ano_inicio" min="2010" minlength="4" maxlength="4" required>
                            </label>
    
                            <label for="anos" class="form-label">
                                Até:
                                <input type="number" class="form-control" name="ano_fim" min="2010" minlength="4" maxlength="4" required>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input class="btn btn-success" type="submit" value="Enviar">
        </div>
        <br>
    </div>
    


    <br>
</form>


{%endblock%}