{% extends 'base.html'%}
{%block content%}
<h1>{%block title%} Projetos {%endblock%}</h1>
<!-- <div class="spinner-wrapper">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div> -->
<div class="col-md-8">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{url_for('index')}}">Dashboard</a></li>
        <li class="breadcrumb-item active">Projetos</li>
    </ol>
</div>

<form action="{{url_for('projetos')}}" method="post" id="forms">

    <div class="radio-inline">
        <input  type="radio" name="anos" id="anos" value="{{'2010','2011','2012'}}"> 2010-2012
    </div>
    <div class="radio-inline">
        <input  type="radio" name="anos" id="anos" value="{{'2013','2014','2015','2016'}}"> 2013-2016
    </div>
    <div class="radio-inline">
        <input type="radio" name="anos" id="anos" value="{{'2017','2018','2019','2020'}}"> 2017-2020
    </div>
    <br>
    <input class="btn btn-success" type="submit" value="Enviar">
</form>

{%endblock%}