{% extends 'base.html'%}

{%block content%}

<h1>{%block title%} Resultados {%endblock%}</h1>
<!-- <div class="spinner-wrapper">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div> -->
<div class="col-md-8">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{url_for('index')}}">Dashboard</a></li>
        <li class="breadcrumb-item active">Resultados</li>
    </ol>
</div>
<!-- <script src='https://cdn.plot.ly/plotly-latest.min.js'></script> -->
<!-- <script src="{{url_for('static',filename= 'js/plotly.min.js') }}"></script> -->


<div class="card-header">
    <i class="fas fa-table me-1"></i>
    Relação das publicações
</div>
<div class="card-body">
    <table id="resultados" class="table table-sm" style="font-size: small;">
        <thead class="table-dark">
            <tr>
                <th>Docente</th>
                <th>Documento:</th>
                <th>Ano:</th>
                <th>Título:</th>
                <th>Estratos:</th>
                <th>Notas:</th>
                <th>Ação</th>
            </tr>
        </thead>

        <tbody>
            {%for lista in listar%}
            <tr>

                <td>{{lista[1].split()[0]}} {{lista[1].split()[-1]}}</td>
                <td>{{lista[2]}}</td>
                <td>{{lista[3]}}</td>
                <td><a class="link-offset-2" data-bs-toggle="modal" onclick='visualizarDados({{lista[0]}})'
                        data-bs-target="#exampleModal" data-bs-whatever="{{lista[4]}}">{{lista[4]}}</a></td>
                <td>{{lista[9]}}</td>
                <td>{{lista[10]}}</td>
                <td><a href="{{url_for('edita_publicacao',id=lista[0])}}"><i class="fas fa-pen me-1"></i></a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<div class="row">
    <div class="card-header col-sm-8">
        <i class="fas fa-table me-1"></i>
        Quantidade Publicações por Ano
    </div>
    <div class="card-header col-sm-4">
        <i class="fas fa-chart-pie me-1"></i>
        Periódico x Conferência
    </div>

</div>
<div class="card-body">
    <div class="row">
        <div class="col-sm-8" id="chart">

        </div>

        <div class="col-sm-4" id="pizza">

        </div>

    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Outras Informações</h5>
                
            </div>

            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-3">Docente:</dt>
                    <dd class="col-sm-9"><span id="nome_docente"></span></dd>
                    <dt class="col-sm-3">Titulo:</dt>
                    <dd class="col-sm-9"><span id="titulo"></span></dd>
                    <dt class="col-sm-3">Autores:</dt>
                    <dd class="col-sm-9"><span id="autores"></span></dd>
                    <dt class="col-sm-3">Evento:</dt>
                    <dd class="col-sm-9"><span id="evento"></span></dd>
                    <dt class="col-sm-3">Sigla:</dt>
                    <dd class="col-sm-9"><span id="sigla"></span></dd>
                </dl>
            </div>
        </div>
    </div>
</div>


<script type='text/javascript'>
    var graphs = {{ graphJSON | safe}}
    Plotly.newPlot('chart', graphs, {});
</script>

<script type="text/javascript">
    var graphs = {{ graph | safe}}
    Plotly.newPlot('pizza', graphs, {});
</script>

<script>

    async function visualizarDados(id) {
        const dados = await fetch("/visualiza_dados/" + id);
        const resposta = await dados.json();
        console.log(resposta);

        const visModal = new bootstrap.Modal(document.getElementById('exampleModal'));
        
        document.getElementById("nome_docente").innerHTML = resposta['mostra'][1];
        document.getElementById("titulo").innerHTML = resposta['mostra'][2];
        document.getElementById("autores").innerHTML = resposta['mostra'][3];
        document.getElementById("sigla").innerHTML = resposta['mostra'][4];
        document.getElementById("evento").innerHTML = resposta['mostra'][5];
        
    }
</script>

{%endblock%}