{% extends 'base.html'%}
<h1>{%block title%} Projetos - Em Teste {%endblock%}</h1>

{%block content%}

<div id="resultados">
    <h3>Dados</h3>

    
    <table class="table table-hover table-sm table-responsive resultado" style="width: 98%;" id="resultado">
        <thead class="table-secondary">
            <tr>
                <th>Docente</th>
                <th>Documento:</th>
                <th>Ano:</th>
                <th>Título:</th>
                <th>DOI:</th>
                <th>Sigla:</th>
                <th>Titulo Periódico:</th>
                <th>Autores:</th>
                <th>Estratos:</th>
                <th>Notas:</th>
            </tr>

        </thead>
        <tbody>

            {%for lista in listar%}
            <tr>
                <td>{{lista[1]}}</td>
                <td>{{lista[2]}}</td>
                <td>{{lista[3]}}</td>
                <td>{{lista[4]}}</td>
                <td>{{lista[5]}}</td>
                <td>{{lista[6]}}</td>
                <td>{{lista[7]}}</td>
                <td>{{lista[8]}}</td>
                
                {% if lista[9] == '-' %}
                    <td>C</td>
                {%else%}
                    <td>{{lista[9]}}</td>
                {%endif%}

                {%if lista[10] == 'SEM QUALIS' %}
                    <td>0</td>
                {%else%}
                    <td>{{lista[10]}}</td>
                {%endif%}
            </tr>

            {%endfor%}
        </tbody>
    </table>
</div>

<br>
<hr />
<div class="container">
    <h2 style="text-align: center;">Contador de Estratos</h2>


    <table class="table table-sm table-hover" id="contador">
        <thead class="table-dark">
            <tr>
                <th>Docente:</th>
                <th>Estratos</th>
                <th>Quantidade</th>
                <th>Ano Evento</th>
            </tr>

        </thead>
        <tbody>
            {% for contador in contadorEstratos %}
            <tr>
                <td>{{contador[0]}}</td>
                {% if contador[2] == '-' %}
                    <td>C</td>
                {%else%}
                    <td>{{contador[2]}}</td>
                {%endif%}
                <td>{{contador[1]}}</td>
                <td>{{contador[3]}}</td>
            </tr>
            {%endfor%}

        </tbody>
    </table>

    <h2>Total de Notas</h2>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Docente</th>
                <th>Total:</th>
            </tr>
        </thead>
        <tbody>
            {%for total in totalNotas%}
            <tr>
                <td>{{total[0]}}</td>
                <td>{{total[1]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <h2>Total de Periódicos / Conferências</h2>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Docente</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>

<script>
    $(document).ready(function () {
        $('#contador').DataTable();
    });

    $(document).ready(function () {
        $('#resultado').DataTable();
    });


</script>

{%endblock%}