<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Alex Cirilo" />
    <link rel="icon" href="{{url_for('static',filename= 'assets/favicon.ico') }}">
    <title>{% block title %}{% endblock %}</title>
    <script src="{{url_for('static',filename= 'js/plotly.min.js') }}"></script>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link href="{{url_for('static',filename= 'css/styles.css') }}" rel="stylesheet" />
    <link href="{{url_for('static',filename= 'css/estilos.css') }}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>

<div class="card-header">
    <i class="fas fa-table me-1"></i>
    Relação de Colaborações
</div>
<div class="card-body container">
    <table id="resultados" class="table table-sm table-responsive" style="font-size: small;">
        <thead class="table-dark">
            <tr align="center">
                <th>Título:</th>
                <!-- <th>Estratos:</th>
                <th>Notas:</th> -->
            </tr>
        </thead>

        <tbody>
            {%for lista in listar%}
            <tr>
                <td>
                    <input type="button" class="btn btn-outline"  data-bs-toggle="modal" 
                    data-bs-target="#exampleModal" data-bs-whatever="{{lista[0]}}" onclick="visualizarDados(this.value)" value="{{lista[0]}}">
                </td>               
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

<!-- modal para exibir dados faltantes dos títulos-->


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dados</h5>
            </div>

            <div class="modal-body">
                <dl class="row" id="lista">
                    <dt class="col-sm-3">Colaboradores:</dt>
                    <dd class="col-sm-9"><span id="nome_docente"></span></dd>
                    <dt class="col-sm-3">Estrato:</dt>
                    <dd class="col-sm-9"><span id="estrato"></span></dd>
                    <dt class="col-sm-3">Nota:</dt>
                    <dd class="col-sm-9"><span id="nota"></span></dd>
                    <dt class="col-sm-3">DOI:</dt>
                    <dd class="col-sm-9"><span id="doi"></span></dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
              </div>
        </div>
    </div>
</div>

<!-- fim modal -->
<script>


    function visualizarDados(titulo){
        $.ajax({
            url: "/visualiza_dados/" + titulo,
            method: "POST",
            data: { titulo: titulo },
            success: function(data){
                console.log(data['mostra'].length)
                var lista_nomes = [];
                var lista_estratos = [];
                var lista_nota = [];
                var lista_doi = [];

                for(var i=0;i<data['mostra'].length;i++){
                    lista_nomes.unshift(data['mostra'][i][4]);
                    lista_estratos.unshift(data['mostra'][i][2]);
                    lista_nota.unshift(data['mostra'][i][3]);
                    lista_doi.unshift(data['mostra'][i][5]);
                }
                
                    document.getElementById("nome_docente").innerHTML = lista_nomes.join("<br>")
                    document.getElementById("estrato").innerHTML = lista_estratos[0];
                    document.getElementById("nota").innerHTML = lista_nota[0];
                    document.getElementById("doi").innerHTML = lista_doi[0];
                
            }
        })
    }
</script>

{%extends 'footer.html'%}

